/* Big About Me */
.container p {
    font-size: 1.8rem; 
    font-weight: bold;
    margin-bottom: 30px;
}

/* Admin Input Styling */
#admin-panel input {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background: white;
    border: 2px solid blue;
    font-family: monospace;
}
